@import url("https://fonts.googleapis.com/css2?family=Kablammo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #12101b; /* Match your background color */
}

::-webkit-scrollbar-thumb {
  background: #3b3b3b; /* Subtle contrast for the thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555; /* Brighter on hover */
}

body {
  background-color: #0e0c16;
  color: #ececec;
  font-family: "Roboto", sans-serif;
}
